@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

nav img {
  height: 80px;
  width: 230px;
}
nav {
  margin: 0 150px 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.btn {
  text-decoration: none;
  background: red;
  color: white;
  padding: 10px 15px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5%;
}
.l{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
input{
  height: 30px;
  padding: 20px;
  border: none;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
.but{
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: red;
}
@media (max-width: 767px) {
  nav {
    margin: 0 20px;
  }
  nav img {
    height: 60px;
    width: 150px;
  }
  .btn {
    font-size: 14px;
    padding: 6px 10px;
  }
}